<ul class="nav nav-pills nav-justified" role="tablist">
  <li role="presentation"><a href="/users/<%= @user.id %>/info">Yo</a></li>
  <li role="presentation"><a href="/users/<%= @user.id %>/posted">Mis publicaciones</a></li>
  <li role="presentation"><a href="/users/<%= @user.id %>/purchased">Mis compras</a></li>
  <li role="presentation" class="active"><a href="#">Publicaciones guardadas</a></li>
</ul>
