<h1>Nueva Solicitud</h1>
<%= form_with(model: @solicitude, method: :post) do |form| %>



<%= form.hidden_field :publication_id, :publication_id => @solicitude.publication_id %>
    <div class="field">
        <h4>Escribe un mensaje:</h4>
        <%= form.text_field :content %>
    </div>

    <h4></h4>

    <div class="action">
        <%= form.submit "Enviar solicitud" %>
    </div>

<% end %>